@using HairSalon.Models;

<h1>Add specialties to a stylist</h1>
<h2>Stylist: @Model["stylists"].GetStylist()</h2>
<hr />
@if (@Model["specialties"].Count != 0)
{
  <h4>Here are all the specialties for @Model["stylists"].GetStylist():</h4>
  <ul>
    @foreach (var specialty in @Model["specialties"])
    {
      <li>@specialty.GetSpecialty()</li>
    }
  </ul>
}
<h4>Add a specialty for this book:</h4>
<form action='/specialty/stylist/@Model["stylists"].GetId()/new' method='post'>
  <label for='specialty-id'>Select a specialty:</label>
  <select id='specialty-id' name='specialty-id' type='text'>
    @foreach (var specialty in @Model["allSpecialties"])
    {
      <option value='@specialty.GetId()'>@specialty.GetSpecialty()</option>
    }
  </select>
  <button type='submit'>Add</button>
</form>
